
.footer{
    height: auto; 
    justify-content: space-between;
    width:100%;
    display:  flex;
    font-weight: 6;
    font-size: 12px; 
    margin-top:10px; 
    background-color:$color-background;
    color: $color-whiteColor;
} 
.footerhome {
    left: 0;
    display:  flex;
    flex-direction:row; 
    justify-content: space-between;
    bottom:0;
    right:0px;
    width:100%;
    height: 40px;
    position: absolute;
    background-color: transparent;
    font-weight: 6;
    font-size: 12px;  

}

.menuitem{
      text-align: center;
    justify-content:center;
    align-content:center;
    align-self: center;
    display: flex;
    margin: 0% auto;
  
 }
  
  .menuitem:hover {
    text-decoration:underline;
    cursor: pointer;
    }

  .homecolor {
    color: white;
  }

  .normalcolor {
    color:$color-background;
  }

  .mailer{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-weight: 6;
    font-size: 12px; 
     background-color: #1C1B1B;
    color: $color-whiteColor;
    vertical-align: middle;
  }

  .mailercol {
    display: flex;
    flex:30%;
    flex-direction: column;
    vertical-align: middle;
    align-content: center;
    align-self: center;
    text-align: center;
   }

   .popup {
    display: flex;
   // flex: 30%;
    width: 100%;
    flex-direction: column;
    vertical-align: middle;
    align-content: center;
    align-self: center;
    text-align: center;
   }

  .infoblockitem {
    padding-left: 10px;
    width: 80%;
    cursor: pointer;
    height:30px;
    align-self : center;
    border: 1px solid $color-lightLineColor;
  }

  .mailerbutton {
    background-color: $color-whiteColor;
    color: $color-background;
    font-family: 'AvenirNext';
    font-weight: normal;
    font-size: 15px;
    border: 1px solid $color-unHoverColor;
    border-radius: 2px;
    width: 80%;
     cursor: pointer;
    height:50px;
    align-self: center;
    transition: color 200ms ease-in;
   }

  .mailerbutton:hover {
    background-color:$color-hoverColor;
    color: $color-whiteColor;
     cursor: pointer;
  }

  .mailerbutton:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }

  .mailerbutton:disabled {
    background-color:$color-unHoverColor;
  }

  @media all and (max-width: 600px) {
    .mailer{
      display: flex;
      flex-direction: column;
   }

    .mailercol {
      display: flex;
      flex: 100%;
      width:100%;
    }
  }