.centralcontainer {
    // background-color:rgb(147, 253, 40);
    max-width: 100vh;
    min-height:80vh;
    height: 100%;
    width:100%;
    float:right;
   // overflow-y: auto;
    display: flex;
     overflow-y:scroll;
    padding-bottom: 5rem;
    align-self: center;
    justify-content: center;
    align-items: center;
  }

  .mainblock {
   position: relative;
      height: auto;
      width: 420px;;
      display: flex;
      flex-direction:column; /* column | row  */
      overflow-x: hidden;
      overflow-y: hidden;
      vertical-align: top; 
      align-items: right;
      justify-content: right;
      margin: 0, auto; 
      padding:20px;
    
  }

.infoblock {
    display: block;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

  }


.shoppingcartblock{
  flex: 0.5;
  //background-color:rgb(107, 32, 32);
  display: grid;
  place-items: center;
  text-align: center;
  vertical-align: top;
  margin-top:30px;
  margin-right: 0px;
  margin-left: 50px;
}

.payColumn{
    display: grid;
    place-items: center;
    //height: 100%;
    padding:5px;
    // border: 1px solid rgb(225, 225, 226);
    // border-radius: 5px;
  }
  
  .payfastRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0, auto;
    padding: 5px;
  }

  @media all and (max-width: 800px) {

     .infoblock {
      width: 400px;
      }

      .shoppingcartblock{
        flex: 0.3;
        margin-left: 10px;
      }
    }

    @media all and (max-width: 600px) {

     .infoblock {
        width: 100%;
     }

      
    .shoppingcartblock{
      flex: 1;
      margin-left: 0px;
      margin-right: 0px;
    }
    }