
.container {
    // background-color:rgb(147, 253, 40);
    max-width: 100vw;
    min-height:80vh;
    height: 100%;
    width:100%;
    //flex-direction: row;
    overflow-y: auto;
     padding-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

  }

  .mainblock {
    // background-color:rgb(243, 245, 241);
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
  }

  .cartblock{
    flex: 0.5;
    height: 100%;
   // background-color:rgb(227, 241, 203);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    
  }