$color-whiteColor:#ffffff; 
$color-textHeading:#1C1B1B; 
$color-textBody:#1C1B1B; 
$color-hoverColor:#1C1B1B;  
$color-unHoverColor: #c4c2c2; 
$color-lightLineColor: #949494; 
$color-darkLineColor: #6a6a6a; 
$color-background:#1C1B1B; 

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,900');


#app {
  height:100vh; /* This is needed to overcome a Chrome bug. */
  width:100vw; 
  max-width: 100vw;
  font-family: 'NunitoSans', sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
 overscroll-behavior: none;
  -webkit-scrollbar { 
  display: none; 
}

// @font-face {
//   font-family: "Nunito";
//   //src: url("../assets/fonts/AvenirNext-UltraLight.ttf") format("ttf");
//  // src: url("~@/assets/fonts/AvenirNext-Regular.ttf") format("ttf");
//   src: url('~@/assets/fonts/NunitoSans-Light.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// ::-webkit-scrollbar {
//   display: none; 
//   width: 0px;
// }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

::-webkit-input-placeholder { /* Edge */
  color:  $color-unHoverColor;
  font-size: 14px!important;
  font-family: 'NunitoSans';
  font-weight: normal;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  $color-unHoverColor;
  font-size: 14px!important;
  font-family: 'NunitoSans';
  font-weight: normal;
}

::placeholder {
  color:  $color-unHoverColor;
  font-size: 14!important;
  font-family: 'NunitoSans';
  font-weight: normal;
}

h1, h2, h3 {
  font-family: 'AvenirNext';
  font-weight: normal;
  letter-spacing: 0.2em!important;
  color: $color-textHeading;
}

h4, h5, p, small {
  font-family: 'NunitoSans';
  font-weight: normal;
  //letter-spacing: 0.1em!important;
  color: $color-textBody;
  transition: all 200ms ease-in;
}

.tiny {
  font-size: 8!important;
  font-family: 'NunitoSans';
  font-weight: normal;
  //letter-spacing: 0.1em!important;
  color: $color-textBody;
  transition: all 200ms ease-in;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-instagram {
  color: rgb(66, 64, 64);
}

button {
  font-family: 'AvenirNext';
  font-weight: normal;
  font-size: 12px!important;
  letter-spacing: 0.2em!important;
}

ul {
  list-style-type:none;
   }

li {
  display: flex;
  flex-direction:row; /* column | row  */
}

input, input:active, input:focus, input:focus-within, input:hover, input:visited {
  height: 40px;
  font-size: 14px!important;
  font-family: 'NunitoSans';
  font-weight: normal;
  padding-left: 10px;
   color :$color-textBody;
  border: 1px solid $color-lightLineColor;
  border-radius: 2px;
  outline:none !important;
  }

}

.fullpage {
 position: relative;
  //background-color:rgb(122, 231, 13);
  width:100vw;
  max-width: 99vw;
  flex-direction:column; /* column | row  */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100vh;
}

.centralcontainer {
 //  background-color:rgb(147, 253, 40);
  max-width: 100vw;
  min-height:85vh;
  height: 100%;
  width:100%;
  flex-direction: column;
  display: flex;
  overflow-y:scroll;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.homecontainer {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
 }

.banner {
    display: block;
  }

/* Make the container relative */
.swap-on-hover {
  position: relative;	
	margin:  0 auto;
  max-width: 500px;
  width:500px;
  height:500px;
  img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    /* Sets the width and height for the images*/
    width: 500px;
    height: auto;
  }
}

// /* Select the image and make it absolute to the container */
// .swap-on-hover img {
//   position: absolute;
//   margin-left: auto;
//   margin-right: auto;
//   left: 0;
//   right: 0;
//   text-align: center;
// 	/* Sets the width and height for the images*/
// 	width: 500px;
// 	height: auto;
// }

/* 
	We set z-index to be higher than the back image, so it's alwyas on the front.

We give it an opacity leaner to .25s, that way when we hover we will get a nice fading effect. 
*/
.swap-on-hover .swap-on-hover__front-image {
  z-index: 9999;
  transition: opacity .2s linear;
  cursor: pointer;
}

/* When we hover the figure element, the block with .swap-on-hover, we want to use > so the front-image is going to have opacity of 0, which means it will be hidden, to the back image will show */
.swap-on-hover:hover > .swap-on-hover__front-image{
  opacity: 0;
}


.dropdownblocktransition{

  height: 0%;
  flex-direction: column;
  overflow-y:scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
 
}

.dropdownblock {
  height: 0px;
  flex-direction: column;
  overflow-y:scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
 // transition-delay: 1000s;
  transform: translateY(-100%);
   -webkit-transform: translateY(-100%);
	 -moz-transition: transform 0.4s, height 0.4s, opacity 0.5s, ;
  transition: transform 0.4s, height 0.4s, opacity 0.5s;
   
}

.open {
  height: 100%;
  //max-height: 25vh;
  opacity: 1;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
}

.closed {
  height: 0px;
 // max-height: 0vh;
  opacity: 0;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

  .shoppingcartrow {
    margin-top: 70px;
  // background-color:rgb(144, 231, 56);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .centralblock {
    // background-color:rgb(243, 245, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
  }

  .container {
    max-width: 100vw;
    min-height:85vh;
    height: 100%;
    width:100%;
    overflow-y: auto;
    //padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: row;
    margin-top: 10px;
 }

  .mainblock {
    // background-color:rgb(243, 245, 241);
    height: 100%;
    margin-top: 100px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    border-right: 1px solid $color-lightLineColor;
  }

  .cartblock{
   width: 50%;
    height: 100%;
   // background-color:rgb(227, 241, 203);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
  }

  .thinline{
    width: 100%;
    margin: 0px;
    height: 1px;
    background-color: rgb(211, 212, 212);
  }

  
  .hoveritem{
    background-color:transparent;
    color: rgb(193, 113, 219);
    position:relative;
    text-align: right;
    justify-content:center;
    align-content:center;
    padding: 5px;
    bottom:0;
  }

  .hoveritem:hover {
    text-decoration:underline;
    cursor: pointer;
  }

  input[type=button] {
    font-family: 'AvenirNext';
  font-weight: normal;

}
  .buttonstyle {
    background-color: $color-whiteColor;
    color: $color-textBody;
    font-family: 'AvenirNext';
    font-weight: normal;
    font-size: 15px;
    border: 1px solid $color-unHoverColor;
    border-radius: 2px;
    margin-top: 10px;
    width: 100%;
    max-width:100%;
    cursor: pointer;
    height:50px;
    align-self: center;
    transition: color 200ms ease-in
  }

  .buttonstyle:hover {
    background-color:$color-hoverColor;
    color: $color-whiteColor;
     cursor: pointer;
  }

  .buttonstyle:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }

  .buttonstyle:disabled {
    background-color:$color-unHoverColor;
  }

  @media all and (max-width: 800px) {

    .container {
      flex-direction: column;
    }
  
    .mainblock {
      // background-color:rgb(243, 245, 241);
     width: 100%;
      margin-top: -50px;
       display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
     border-right: 0px solid transparent;
    }
  
    .cartblock{
      flex: 1;
      height: 100%;
     // background-color:rgb(227, 241, 203);
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      
    }
  }

  @media all and (max-width: 600px) {

      .container {
        flex-direction: column;
      }
    
      .mainblock {
        // background-color:rgb(243, 245, 241);
        width: 100%;
        margin-top: -50px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        border-right: 0px solid transparent;
      }

      .swap-on-hover {
        position: relative;	
        margin:  0 auto;
        max-width: 500px;
        width: 500px;
        height:500px;
        padding-right:-200px;
        img {
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
          /* Sets the width and height for the images*/
          width:500px;
          height: auto;
        }
      }
    }

  @keyframes slide-in {
      100% { transform: translateY(0%);  opacity: 1;}
  }
  
  @-webkit-keyframes slide-in {
      100% { -webkit-transform: translateY(0%);  opacity: 1; }
  }
      
  @keyframes slide-out {
      0% { transform: translateY(0%);  opacity: 0;}
      100% { transform: translateY(-100%);  opacity: 0;}
  }
  
  @-webkit-keyframes slide-out {
      0% { -webkit-transform: translateY(0%);  opacity: 0;}
      100% { -webkit-transform: translateY(-100%);  opacity: 0;}
  }