@font-face {
  font-family: "NunitoSans";
  //src: url("../assets/fonts/AvenirNext-UltraLight.ttf") format("ttf");
 // src: url("~@/assets/fonts/AvenirNext-Regular.ttf") format("ttf");
  src: url('~@/assets/fonts/NunitoSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}