
.container {
    max-width: 100vw;
    min-height : 89vh;
    max-height: 89vh;
    height: 100%;
    width:100%;
    display: flex;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
    align-self : center;
    padding-top : 0px;
    padding-bottom : 0px;
}

.infoblockitem {
    margin-top: 10px;
    width: 100%;
    max-width:97%;
    cursor: pointer;
    height:30px;
    align-self : center;
  }
  
  .infoblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self : center;
    align-content: center;
    margin: auto;
    display: flex;
    height: auto;
    width: 400px;
    transition: all 2000ms ease-in-out;
  }
