-webkit-scrollbar { 
  display: none; 
  width: 0px;
}

::-webkit-scrollbar {
  display: none; 
  width: 0px;
}

  .productcontainer {
    display: flex;
    max-height: 80vh;
    margin: 5%;
    height: 90em;
    overflow: hidden;
    width: 90%;
 }

  .left {
   margin-right: 0;
    float: left;
    width: 50%;
    overflow: hidden;
  }
  
  .right {
    float: right;
    width: 50%;
    max-height:100%;
    overflow: scroll;
  }

.imagecontainer {
  position: relative;
  display: flex;
  flex-direction: column;
   align-items: left;
  height: 100%;
  width: 800px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 200ms ease-in-out;
}

.imageblock {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
   .imgContainer{
        width: 100%;
    }
 }

.pricecontainer {
   position: relative;
  display: flex;
   flex-direction: column;
   text-align: center;
   align-items: right;
  vertical-align: middle;
  height: 100%;
  width: 400px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.priceblock{
  height: auto;
  vertical-align: middle;
  width: 600px;
  margin-top: 25%;
  margin-left:auto; 
  margin-right:10%;
  text-align: center;
}

.mainimage, .thumbimage {
  float: left;
  width: 100%;
  img {
      width: 100%;
      // display: block;
  }
}

.thumbimage {
  filter: blur(2px);
}

.pricerow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 width: 100%;
  height:30px;
   
}
 
.itemcol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
     width: 60%;
    height:100%;
    margin-bottom: 1px;
    margin-top: 0px;
   }

   
.itemrow {
 
  //background-color:white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  width: 100%;
  height:100%;
 

}
  
  .itemcolumn1{
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 0.5;
    align-items: left;
    text-align: left; 
    justify-content: left;
    vertical-align: middle;
    // padding-left: 20px;
    
  }
  
  .itemcolumn2{
    background-color:rgb(255, 254, 254);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex:0.5;
    align-items: right;
    text-align: right; 
    justify-content: right;
    vertical-align: top;
    padding-left: 10px;
    //padding-right: 10px;
  }

  .itemselection{
    flex: 0.4;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    height: 100%;
    width:100%;
    flex-direction: flex;
    align-items: right;
    text-align: right; 
    justify-content: right;
    vertical-align: middle;
  }

  .itemdetail{
   display: grid;
   align-items: center;
   justify-items: center;
   height: 100%;
   padding:5px;
  }

  .numberrow{
    //background-color:rgb(88, 196, 66);
    flex:1;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    text-align: center; 
    justify-content: center;
    vertical-align: middle;
   }

  .itemdetail{
    //background-color: rgba(94, 163, 134, 0.966);
    display: grid;
    place-items: center;
    height: 100%;
    padding:5px;
  }

.addminusboxcontainer{
 
   display: flex;
  flex-direction: row;
 
  width:100%;
  flex: 0.6;
  height: 100%;
  flex-direction: flex;
  align-items: center;
  text-align: center; 
  justify-content: center;
  vertical-align: middle;

  }

  .addminusbox{
 
    display: flex;
   flex-direction: row;
   cursor: pointer;
   width:100%;
   flex: 0.6;
   height: 100%;
   flex-direction: flex;
   align-items: center;
   text-align: center; 
   justify-content: center;
   vertical-align: middle;
 
   font-size: 25px;
    font-family: 'AvenirNext';
   font-weight: normal;
   }

  .minus{
    margin-right:10px;
    }

  .plus {
    background-color: transparent;
   }
  
  .disabled div{
    color: $color-unHoverColor; 
  }

  .enabled div{
    color: $color-hoverColor; 
  }

  @media all and (max-width:1400px) {
   .priceblock{
      height: auto;
      vertical-align: middle;
      width: 80%;
      margin-top: 40px;
      margin-left:auto; 
      margin-right:auto;
      text-align: center;
    }

    .itemcol {
       width: 100%;
     }

   
   .left {
    float: top;
     width: 80%;
     overflow: hidden;
     height:100%;
   }
   
   .right {
    float: top;
     width: 90%;
     max-height:100%;
     overflow: scroll;
   }

}
  @media all and (max-width:800px) {

    .left {
     float: top;
      width: 80%;
      overflow: hidden;
      height:100%;
    }
    
    .right {
     float: top;
      width: 90%;
     max-height:100%;
      overflow: scroll;
    }
  
    .productcontainer {
      margin-top: 70px;
      display: flex;
      max-height: 100%;
      flex-direction: column;
       vertical-align: middle;
      justify-content: center;
      align-items: center;
      text-align: center;
      overflow: hidden;
    
    }
  

  .imagecontainer {
    width: 90vw;
     align-items: center;
  }
  
  .imageblock {
    width: 90%;
     margin: 0 auto;
  }
 
  .pricecontainer {
      width: 90vw;
      flex-direction: column;
      text-align: center;
      align-items: center;
      vertical-align: top;
    }
   

  .numberrow{
    //background-color:rgb(88, 196, 66);
    flex:0.5;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    text-align: center; 
    justify-content: center;
    vertical-align: middle;
    }

    .itemrow {
     padding-top: 5px;
    width: 100%;
    }

    .itemcol {
      width: 100%;
    }

    .itemcolumn1{
      flex: 0.4;
    }
     
     .itemcolumn2{
        flex:0.6;
     }
     .itemselection{
      flex: 0.2;
     
    }
    .addminusboxcontainer{
      flex: 0.8;
    }
  
}