-webkit-scrollbar { 
  display: none; 
  width: 0px;
}

::-webkit-scrollbar {
  display: none; 
  width: 0px;
}

.artistblock {
  position: relative;
  display: flex;
  flex-direction: column;
  // background-color:rgb(121, 197, 21);
  align-items: center;
  height: 100%;
  width: auto;
  flex-wrap: nowrap;
 
}

.artistblock:hover {
  cursor: pointer;
  }

  .artistcontainer {
    position: relative;
    display: flex;
    flex-direction: row;
    //background-color:rgb(121, 197, 21);
    align-items: center;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
  }

.productcontainer {
 // background-color:rgb(121, 197, 21);
  position: relative;
  display: flex;
  flex-direction: row;
   align-items: center;
  height: 100%;
  width: auto;
  transition: all 200ms ease-in;
 }

.imagecontainer {
  position: relative;
  display: flex;
  flex-direction: column;
   align-items: left;
  height: 100%;
  width: 800px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 200ms ease-in-out;
}


.imageblock {
  height: 100%;
  width: 100%;
  // margin: 0 auto;
  // margin-left:0px;
  overflow-y: auto;
  overflow-x: hidden;
   .imgContainer{
        width: 100%;
    }
 }

 .verticalspace {
  position: relative;
  display: flex;
   flex-direction: column;
  height: 100%;
  width: 50px;
  }

.pricecontainer {
   position: relative;
  display: flex;
   flex-direction: column;
   text-align: center;
   align-items: right;
  vertical-align: middle;
  height: 100%;
  width: 400px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.priceblock{
  height: auto;
   display: flex;
    flex-direction: column;
    align-self: flex-end;
    vertical-align: middle;
    justify-content: center;
     width: 100%;
   margin-top: 25%;
  }


// .imagecolumn {
//   display: flex;
//   width:50%;
//   min-width: 50%;
//   float: left;
//   flex-direction: column;
//   overflow: none;
//    margin: 2%;
//   vertical-align: middle;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   top: 0%;
//   z-index: 1;
// }

  .mainimage, .thumbimage {
    float: left;
    width: 100%;
    img {
        width: 100%;
       // display: block;
    }
  }
 
  .thumbimage {
   filter: blur(2px);
  }
 
.itemrow {
 
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    height:100%;
    margin-bottom: 1px;
    margin-top: 0px;
    //padding-bottom: 20px;
    padding-top: 20px;
  
  }
  
  .itemcolumn1{
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 0.75;
    align-items: left;
    text-align: left; 
    justify-content: left;
    vertical-align: middle;
    // padding-left: 20px;
    
  }
  
  .itemcolumn2{
    background-color:rgb(255, 254, 254);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex:0.25;
    align-items: right;
    text-align: right; 
    justify-content: right;
    vertical-align: top;
    padding-left: 10px;
    //padding-right: 10px;
  }

  .itemselection{
    flex: 0.5;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    height: 100%;
    width:100%;
    flex-direction: flex;
    align-items: right;
    text-align: right; 
    justify-content: right;
    vertical-align: middle;
  }

  .itemdetail{
   display: grid;
   align-items: center;
   justify-items: center;
   height: 100%;
   padding:5px;
  }

  .numberrow{
    //background-color:rgb(88, 196, 66);
    flex:1;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    text-align: center; 
    justify-content: center;
    vertical-align: middle;
   }

  .itemdetail{
    //background-color: rgba(94, 163, 134, 0.966);
    display: grid;
    place-items: center;
    height: 100%;
    padding:5px;
  }

.addminusbox{
   display: flex;
  flex-direction: row;
  cursor: pointer;
  width:100%;
  flex: 0.5;
  height: 100%;
  flex-direction: flex;
  align-items: center;
  text-align: right; 
  justify-content: right;
  vertical-align: middle;

  font-size: 25px;
   font-family: 'AvenirNext';
  font-weight: normal;
  }
  
  .addminusimage{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    // border: 1px solid rgb(225, 225, 226);
    // border-radius: 5px;
    padding: 5px;
  }

  .disabled div{
    color: $color-unHoverColor; 
  }

  .enabled div{
    color: $color-hoverColor; 
  }

  .thinline{
    width: 100%;
     margin-bottom: 0px;
    margin-top: 0px;
    height: 1px;
    background-color: rgb(211, 212, 212);
  }

  @media all and (max-width:1400px) {

    .verticalspace {
        display: none;
       }
  
    .imagecontainer {
      width: 100%;
       align-items: center;
    }
    
    .imageblock {
      width: 90%;
       margin: 0 auto;
    }
   
    .pricecontainer {
        width: 100%;
        flex-direction: column;
        text-align: center;
        align-items: center;
        vertical-align: top;
      }
     
    .priceblock{
      height: auto;
      display: flex;
       flex-direction: column;
       align-self: center;
       vertical-align: middle;
       justify-content: center;
        width: 90%;
       margin-top: 25%;
    }
  
  }

  

@media all and (max-width:800px) {

  .productcontainer {
    flex-direction: column;
    margin: 0px;
     vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .verticalspace {
 
    display: none;
   
    }

  .imagecontainer {
    width: 90vw;
     align-items: center;
  }
  
  .imageblock {
    width: 90%;
     margin: 0 auto;
  }
 
  .pricecontainer {
      width: 90vw;
      flex-direction: column;
      text-align: center;
      align-items: center;
      vertical-align: top;
    }
   
  .priceblock{
    height: auto;
    display: flex;
     flex-direction: column;
     align-self: center;
     vertical-align: top;
     justify-content: center;
      width: 90%;
     margin-top: 0%;
  }

  .page{
    height:100%;
    width:100%;
  }

  .numberrow{
    //background-color:rgb(88, 196, 66);
    flex:0.5;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    text-align: center; 
    justify-content: center;
    vertical-align: middle;
    }

    .itemrow {
     padding-top: 5px;
    
    }
  
}