* {
  box-sizing: border-box;
}

h4 {
  //font-family: 'Garamond Premier Pro Regular';
  font-size: 15px;
  color: #001230;
  line-height: 5px;
  //margin-top: -5px;    /* CORRECTION FOR LINE-HEIGHT */
}

p {
  //font-family: 'Garamond Premier Pro Regular';
  font-size: 20px;
  color: #001230;
  line-height: 25px;
  text-align:center
    /* CORRECTION FOR LINE-HEIGHT */
}

.container {
  background-color:rgb(246, 247, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  vertical-align: top;
 
}

  .shoppingcartblock {
    //background-color:rgb(253, 40, 75);
    flex: 1;
    width: 600px;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    align-self: center;
 }
 
  .totalblock {
    flex: 0.4;
     display: flex;
    justify-content: left;
    align-items: center;
    flex-direction:column;
    align-self: flex-start;
    border: 1px solid rgb(225, 225, 226);
    border-radius: 5px;
  }

  .totalrow{
    background-color:rgb(252, 249, 251);
    position:relative;
     display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0, auto;
    padding-left: 15px;
    padding-right: 15px;
   }

   .checkoutblock {
   
    flex: 0.55;
    display: flex;
    flex-flow: column wrap;
    // justify-content: center;
    // align-items: center;
    flex-direction:column;
    align-self: flex-start;
    vertical-align: top;

 }

  .checkoutrow {
    background-color:rgb(252, 249, 251);
    position:relative;
    display: flex;
    flex-direction: row;
    margin: 0, auto;
    padding: 15px;
    margin: 5px;
   
    -moz-box-shadow: 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px #ccc;
   }
  
  .checkouttickets{
    //background-color: rgb(198, 219, 219);
    flex: 0.7;
    display: flex;
    flex-direction: column;
   // cursor: pointer;
    height: 100%;
    flex-direction: flex;
    align-items: left;
    text-align: left; 
    justify-content: left;
    vertical-align: middle;
    padding: 5px;
   }
  
  .checkouttickettotal{
   // background-color: rgb(11, 80, 80);
    flex: 0.3;
    display: flex;
    flex-direction: column;
   // cursor: pointer;
     height: 100%;
    flex-direction: flex;
    align-items: right;
    text-align: right; 
    justify-content: right;
    vertical-align: middle;
    //padding-right: 10px;
    padding: 5px;
  }
  
  .thinline{
    width: 100%;
    margin: 0px;
    height: 1px;
    background-color: rgb(211, 212, 212);
  }
  
.buybutton{
    display: grid;
    place-items: center;
    margin: 20px;
    cursor: pointer;
    height: 40px;
    color:rgb(57, 105, 138);
    border: 1px solid rgb(57, 105, 138);
    border-radius: 5px;
  }


.infoblockitem {
    margin-top: 10px;
    width: 100%;
    max-width:100%;
    cursor: pointer;
    height:30px;
    padding-left: 5px;
  }

  .closebutton {
   
    line-height: 12px;
    width: 18px;
    font-size: 4pt;
    font-family: Roboto;
    margin-top: -5px;
    margin-right: -5px;
    position:absolute;
    top:0;
    right:0;
}

.closebutton:hover {
  text-decoration:underline;
  cursor: pointer;
  font-size: 10pt;
  margin-top:-10px;
  margin-right: 0px;
  }


.addminusbox{
  display: flex;
 flex-direction: row;
 cursor: pointer;
 width:100%;
 flex: 0.5;
 height: 100%;
 flex-direction: flex;
 align-items: center;
 text-align: right; 
 justify-content: right;
 vertical-align: middle;
 }
 
 .addminusimage{
   width: 25px;
   height: 25px;
   margin-right: 10px;
   padding: 5px;
   cursor: pointer;
 }
